# node
node_modules/
**/node_modules/

# env
.env
.env.local

# firebase
.firebase/
firestore-debug.log
ui-debug.log
firebase-debug.log

# build
lib/
dist/

# allow dashboard source lib
!apps/dashboard/src/lib/
!apps/dashboard/src/lib/**

# misc
.DS_Store
